@page "/"
@rendermode InteractiveServer
@inject HashSet<ProductionFact> production
@inject HashSet<CommunicationFact> communication
@inject ProcessModel model
@inject HashSet<Role> actors

<PageTitle>Open Enterprise</PageTitle>

<div class="grid">
    @foreach(var actor in actors){
        <div>
            <article>
                <header>@actor.Name</header>
            </article>
            @foreach(var act in model.GetPossibleActs(actor)) {
                <Action Act="act" Perfomer="actor"></Action>
            }
        </div>
    }
</div>